.App {
  text-align: center;
}


.h1{
  color:black;
  text-align: center;
}


#beer {
  color:rgba(0, 204, 0, 1);
}

#wine {
  color:rgba(255, 99, 132, 1);
}

#spirit{
  color: rgba(153, 51, 153, 1);
}